# compiled
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# operating system
.DS_Store

# specs
/coverage
/.nyc_output

# IDE
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode
/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.Zone.Identifier

# docs
/docs

# CI
github-pages-artifact
