#content #carrier ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* line-height: 0.5rem; */
  /* clear: both; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  margin-bottom: 0.5rem;

}
#content #carrier ul li {
  /* line-height: 9px; */
  /* height: 1rem; */
  margin-left: 1rem;
  padding: 0;
  /* padding-left: 0.5rem; */
  text-align: left;
  white-space:break-spaces;
  

}
#content #carrier span.freq {
  text-decoration: underline;
  text-decoration-style: dotted;
  
}
#content #carrier ul li span.type {
  opacity: 0.7;
}
#content #carrier ul li span.tacan {
  /* font-style: italic; */
}
#content #carrier ul li span.callsign {
  /* text-decoration: underline; */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#content #carrier span.icon {
  margin: -1rem;
  margin-top: 0;
  margin-left: 0rem;
  margin-right: -2rem;
  float: left;
  
}