#content #date {
  /* float: left; */
  /* margin-bottom: -1rem;
  margin-top: 2rem; */
  /* min-width: calc(768px - var(--margin) * 2); */
  text-align: right;
  position: relative;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  
  margin-bottom: -1rem !important;
  margin-top: -1rem;

}