#content #date {
  text-align: right;
  position: relative;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
  
  height: var(--font-size);
  margin-bottom: calc(var(--font-size) * -1) !important;
}


[data-spacing="TABLE"] #content #date {
  background-color: var(--secondary-color);
  float: right;
  width: 5.8rem;
  padding-left: 0.2rem !important;
  text-align: left !important;
}

[data-spacing="FLEX"] #content #date {
  /* position: static !important; */
  background-color: var(--secondary-color);
  width: 0;
  min-width: 5rem;
  height: auto;
  text-align: left;
  margin: 0 !important;
}
