#content #date {
  /* float: left; */
  /* margin-bottom: -1rem;
  margin-top: 2rem; */
  /* min-width: calc(768px - var(--margin) * 2); */
  text-align: right;
  position: relative;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
  
  height: var(--font-size);
  margin-top: calc(var(--font-size) * -1) !important;
}


[data-spacing="TABLE"] #content #date {
  background-color: var(--secondary-color);
  float: right;
  width: 5.8rem;
  padding-left: 0.2rem !important;
  text-align: left !important;
}
