#content #group.kneeboard-section {
  flex-basis: 30%;
  flex-grow: 1;
}
#content #group span.callsign {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

#content #group span.type {
  opacity: 0.7;
}