
#content #laser-codes.kneeboard-section {
  flex-basis: 20%;
  flex-grow: 2;
}

.kneeboard #laser-codes div {
  max-width: 764px;
    line-height: 1.2rem;
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--primary-color);
}


