#content #main-task.kneeboard-section {
  flex-basis: 30%;
  flex-grow: 10;
}

#content #main-task {
  white-space: break-spaces;
  width: max-content;
  max-width: 764px;
}

#content #main-task div {
  word-break: keep-all;
  width: max-content;
  max-width: 764px;
}
