#content #package.kneeboard-section {
  flex-basis: 30%;
  flex-grow: 1;
}

#content #package ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* line-height: 0.5rem; */
  /* clear: both; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  clear: both;

}
#content #package ul li {
  /* line-height: 9px; */
  /* height: 1rem; */
  margin-left: 1rem;
  padding: 0;
  /* padding-left: 0.5rem; */
  width: 14rem;
  text-align: left;
  white-space:break-spaces;
}

#content #package ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

#content #package ul li a:hover{
  background-color: var(--secondary-color);
}

#content #package span.freq {
  text-decoration: underline;
  text-decoration-style: dotted;
  
}
#content #package ul li span.task {
  opacity: 0.7;
}

#content #package span.icon {
  margin: -1rem;
  margin-top: 0;
  text-align: left;
  margin-left: 0rem;
  margin-right: -2rem;
  float: left;
  clear:both;
}

#content #package ul li span.callsign {
  /* text-decoration: underline; */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
