#content p#radio {
  /* white-space: break-spaces; */
  text-align: left;
}


#content p#radio ul {
  /* columns: 8;
  -webkit-columns: 8;
  -moz-columns: 8; */
  margin: 0;
  padding: 0;
  list-style: none;
  /* line-height: 0.5rem; */
  /* clear: both; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
#content p#radio ul li {
  /* line-height: 9px; */
  height: 1rem;
  margin: 0;
  padding-left: 0.5rem;
  

}