#content #title {
  /* float: left; */
  /* margin-bottom: -1rem;
  margin-top: 2rem; */
  /* min-width: calc(768px - var(--margin) * 2); */
  margin: 0 !important;
  padding: 0 !important;
  
  /* margin-bottom: -1rem; */
  margin-top: -1rem !important;

}