#content #title {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  position: relative;
}

#content #title span.title {
  text-align: center;
  font-size: calc(var(--font-size) * 1.3);
}