
.kneeboard #weather {
  white-space: break-spaces;
  text-align: left;
  flex-basis: 30%;
  flex-grow: 1;
}

.kneeboard #weather span.label {
  /* font-weight: bold; */
  opacity: 0.7;
  /* text-decoration: underline; */

}

.kneeboard #weather span.value {
  /* opacity: 0.7; */
  /* text-decoration: underline; */
}
