
  /* Core styles/functionality */
  .tab input.hidden {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    overflow: hidden;
    transition: all 0.35s;
    max-height: 0;
    margin: 0;
    padding: 0;
    width: 110%;
  }
  .tab input:checked ~ .tab__content {
    max-height: 100%;
  }

  /* Visual styles */
  .accordion {
    overflow: hidden;
  }
  .tab__label,
  .tab__close {
    display: flex;
    color: white;
    cursor: pointer;
  }
  .tab__label {
    justify-content: space-between;
    padding: 0.3rem;
    cursor: pointer;
    pointer-events: all;
    color: #dedede;

  }
  .tab__label:hover {
    color: #fefefe;
  }
  .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    pointer-events: revert;
  }
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }

  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  .accordion--radio {
  }
  
  /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
  }
  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }
