
@font-face {
  font-family: typeWriter;
  src: url('/font/SpecialElite-Regular.ttf');
}

.kneeboard {
  font-family: typewriter, monospace !important;
  margin: 0;
  padding: 0;
  color: #544b82;
  font-size: 13px;
}

.kneeboard p {
  font-size: 13px;
  text-align: left;
}

#content #dwv-info {
  float: left;
  margin-top: -0.7rem;
  margin-bottom: -2rem;
  min-width: calc(768px - 2rem);
  glyph-orientation-vertical: 90deg;
  text-align: left;
  opacity: 0.5;
}

.kneeboard #logo {
  position: relative;
  top: 975px;
  width: 200px;
  background-color: #293949;
  border-radius: 2rem 0 0 0;
  padding: 0rem 0 0 1rem;
  margin: 0;
  /* margin-left: -1rem; */
  left: calc(768px - 200px);
}

.kneeboard #content h4.center {
  margin: 1rem;
}


.kneeboard #content .center {
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin: 0;
  width: auto;
}


.kneeboard #capture {
  width: 768px;
  height: 1024px;
  margin: 0;
  padding: 0;
  background: rgb(243,243,240);
  background: linear-gradient(-30deg, rgb(223,213,213) 0%, rgb(243,243,240) 100%);
  background-image: url('/img/paper2.png');
  background-size: 100% 100%;
  background-repeat: repeat;
  border: none;
  overflow: hidden;
}

.kneeboard #content {
  margin: 1rem;
  padding: 0;
  opacity: 0.8;
}

.kneeboard #capture {
  overflow-y: scroll;
}

.kneeboard #content .hidden {
  display: none;
}




/*
  Control buttons
*/

.kneeboard .controls button {
  background-color:  rgb(223,213,213);
  /* color: rgb(243,243,240); */
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.2rem;
  cursor: pointer;
}
.kneeboard .controls select {
  background-color:  rgb(223,213,213);
  /* color: rgb(243,243,240); */
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.2rem;
  cursor: pointer;
}
.kneeboard .controls {
  position: fixed !important;
  bottom: 0;
  right: 0;
  background: #1d2730;
  padding: 0.5rem 1rem;
  border-radius: 1rem 0 0 0rem;
  color: #fefefe;
  z-index: 10000;
}