
@font-face {
  font-family: oldtypewriter;
  src: url('/font/SpecialElite-Regular.ttf');
}
@font-face {
  font-family: acecombat;
  src: url('/font/Tektur.ttf');
}
@font-face {
  font-family: handjet;
  src: url('/font/Handjet.ttf');
}
@font-face {
  font-family: orbitron;
  src: url('/font/Orbitron.ttf');
}

:root {
  --primary-color: #544b82;
  --secondary-color: #544b8266;
  --bg-color: rgb(243,243,240);
  --bg-image: url('/img/paper2.png');
  --font-family: oldtypewriter, monospace !important;
  --opacity: 0.8;
  --font-size: 13px;

  --controls-color: rgb(223,213,213);
  --controls-bg-color: #1d2730;
}

[data-theme="dark"] {
  --primary-color: #d2d2d2;
  --secondary-color: #d2d2d266;
  --bg-color: #161625;
  --bg-image: url('/img/paper_dark.png');
  --font-family: oldtypewriter, monospace !important;
}

[data-theme="modern"] {
  --primary-color: #111;
  --secondary-color: #11111166;
  --bg-color: #fefefe;
  --bg-image: linear-gradient(-30deg, rgb(223,213,213) 0%, rgb(243,243,240) 100%);

  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important

}

[data-theme="modern_dark"] {
  --primary-color: #b2b2b2;
  --secondary-color: #61dd8033;
  --bg-color: #111;
  --bg-image: linear-gradient(-45deg, rgb(10, 10, 10) 0%, rgb(22, 22, 24) 100%);
  /* font-family: */
  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

[data-theme="90s"] {
  --primary-color: #56f683;
  --secondary-color: #0eda6366;
  --bg-color: #111;
  --bg-image: linear-gradient(-45deg, rgb(23, 30, 24) 0%, rgb(23, 19, 2) 100%);
  --bg-image: url('/img/terminal.png');

  /* font-family:  */
  --font-family: handjet !important;
  --opacity: 0.9;
  /* --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

[data-theme="cyber"] {
  --primary-color: #61d6f3;
  --secondary-color: #00fde433;
  --bg-color: #111;
  --bg-image: linear-gradient(-45deg, rgb(10, 15, 55) 0%, rgb(25, 10, 57) 100%);
  --bg-image: url('/img/cyber.png');
  /* font-family: */
  /* --font-family: 'Times New Roman', Times, serif; */
  /* --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
  --font-family: acecombat !important;
  --opacity: 0.9;
}

[data-theme="ace"] {
  --primary-color: #acdfe8;
  --secondary-color: #02b2fe33;
  --bg-color: #111;
  --bg-image: url('/img/acecombat.png');
  /* font-family: */
  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: acecombat !important;
  --opacity: 0.9;
}

.kneeboard {
  font-family: var(--font-family) !important;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-size: var(--font-size);
}


.kneeboard p {
  font-size: var(--font-size);
  text-align: left;
}

#content #dwv-info {
  float: left;
  margin-top: -0.7rem;
  margin-bottom: -2rem;
  min-width: calc(768px - 2rem);
  glyph-orientation-vertical: 90deg;
  text-align: left;
  opacity: 0.5;
}

.kneeboard #logo {
  position: absolute;
  top: 975px;
  width: 200px;
  /* background-color: #293949; */
  /* border-radius: 2rem 0 0 0; */
  padding: 1rem;
  margin: 0;
  /* margin-left: -1rem; */
  left: calc(768px - 200px);
  opacity: 0.8;
}

.kneeboard #content h4.center {
  margin: 1rem;
}


.kneeboard #content .center {
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin: 0;
  width: auto;
}


.kneeboard #capture {
  width: 768px;
  height: 1024px;
  margin: 0;
  padding: 0;
  background: var(--bg-color);

  background: var(--bg-image);
  background-size: 100% 100%;
  background-repeat: repeat;
  border: none;
  overflow: hidden;
}

.kneeboard #content {
  margin: 1rem;
  padding: 0;
  opacity: var(--opacity);
}

.kneeboard #capture {
  overflow-y: scroll;
}

.kneeboard #content .hidden {
  display: none;
}


.kneeboard table td:first-child {
  text-decoration: none;
}


/*
  Control buttons
*/
.kneeboard .controls {
  position: fixed !important;
  bottom: 0;
  left: 0;
  background: var(--controls-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 0rem 1rem 0 0rem;
  color: #fefefe;
  z-index: 10000;
  width: 10rem;
}

.kneeboard .controls label {
  display: block;
}
.kneeboard .controls button {
  background-color: var(--controls-color);
  background-color: #1abc9c;
  /* color: rgb(243,243,240); */
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.2rem;
  cursor: pointer;
  width: 100%;
}
.kneeboard .controls select {
  background-color: var(--controls-color);
  /* color: rgb(243,243,240); */
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0.2rem;
  cursor: pointer;
  width: 100%;
}