
@media print
{    
    .no-print, .no-print *
    {
      display: none !important;
    }
    .print, .print *
    {
      /* display: block !important;
      --height: auto;
      overflow: visible; */
    }
    .demo {
      position: initial;
      left: 0px;
      top: 0px;
      /* margin: 0; */
      /* margin: -2rem; */
    }
    .kneeboard #content {
      
    }
    .kneeboard, #capture {
      display: block !important;
      /* left: 0; */
      --width: 880px;
      height: auto !important;
      overflow: visible !important;
      /* margin: 0 !important; */
    }
}

@media screen
{    
    .print, .print *
    {
      /* display: none !important; */
    }
    .demo {
      position: absolute;
      left: 12rem;
      padding: 2rem;
    }
}


@font-face {
  font-family: oldtypewriter;
  src: url('/font/SpecialElite-Regular.ttf');
}
@font-face {
  font-family: acecombat;
  src: url('/font/Tektur.ttf');
}
@font-face {
  font-family: handjet;
  src: url('/font/Handjet.ttf');
}
@font-face {
  font-family: orbitron;
  src: url('/font/Orbitron.ttf');
}
@font-face {
  font-family: handwriting;
  src: url('/font/Caveat.ttf');
}
@font-face {
  font-family: chalk;
  src: url('/font/EraserRegular.ttf');
}

/*
    LAYOUTS ********** LAYOUTS ********** LAYOUTS ********** LAYOUTS ********** LAYOUTS **********
*/

body {
background-color: #293949
}

/* default theme is xerox light */
:root {
  --primary-color: #544b82;
  --primary-rgb: 84, 75, 130;
  --secondary-color: #544b8266;
  --bg-color: rgb(243,243,240);
  --bg-image: url('/img/paper2.png');
  --bg-mask: none;
  --font-family: oldtypewriter, monospace !important;
  --opacity: 0.8;
  --font-size: 13px;
  --logo: 0.6;
  /* --margin-mask: 1rem; */
  --spacing: 1rem;
  --width: 768px;
  --letter-spacing: 1rem;
  
  --controls-color: rgb(223,213,213);
  --controls-bg-color: #1d2730;
}

[data-spacing="TABLE"] {
  --spacing: 0rem;
  --letter-spacing: 2px;
}
[data-spacing="TABLE"] h4.center {
  background-color: var(--secondary-color);
  margin-bottom: 1px !important;
  margin-right: 0.5rem !important;
  float: left !important;
  width: 6rem !important;
  text-align: left !important;
  overflow: hidden;
}

[data-spacing="TABLE"] .kneeboard-section {
  border-top: 1px solid var(--secondary-color);
  margin-bottom: 1px;
}
[data-spacing="TABLE"] #title.kneeboard-section {
  border-top: none;
  top: -0.1rem;
  height: 1rem !important;
  margin-bottom: -0.6rem;
}
[data-spacing="TABLE"] .kneeboard-section ul {
  margin-bottom: 1px !important;
}
[data-spacing="TABLE"] .kneeboard-section ul li {
  /* border-left: 1px solid var(--primary-color); */
  border-right: 1px solid var(--secondary-color);
}


[data-spacing="FLEX"] {
  --spacing: 0.1rem;
  --letter-spacing: 0.2rem;
}
[data-spacing="FLEX"] #content {
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  align-items: stretch;
}
[data-spacing="FLEX"] h4.center {
  background-color: var(--secondary-color);
  margin-bottom: 1px !important;
  margin-right: 0.5rem !important;
  /* float: left !important; */
  width: auto !important;
  text-align: left !important;
  overflow: hidden;
  float: left;
}
[data-spacing="FLEX"] .kneeboard-section {
  border-left: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  padding: 0 !important;
  margin: 0 !important;
  padding-left: 2px !important;
  /* margin-bottom: 1px; */
  /* display: block; */
  /* width: auto; */
  flex: 1;
}

[data-spacing="FLEX"] .kneeboard-section ul {
  margin-bottom: 1px !important;
}
[data-spacing="FLEX"] .kneeboard-section ul li {
  border-right: 1px solid var(--secondary-color);
}


[data-spacing="CONDENSED"] {
  --spacing: 0.1rem;
  --letter-spacing: 0.3rem;
}
[data-spacing="CONDENSED"] h4.center{
  background-color: var(--secondary-color);
  text-align: left !important;
}

[data-spacing="NORMAL"] {
  --spacing: 1rem;
}

[data-spacing="WIDE"] {
  --spacing: 2rem;
}

/*
    THEMES ********** THEMES ********** THEMES ********** THEMES ********** THEMES **********
*/


[data-theme="ww2"] {
  --primary-color: #211e1d;
  --secondary-color: #57463066;
  --bg-color: #161625;
  --bg-image: url('/img/ww2usaf.png');
  --font-family: oldtypewriter, monospace !important;
  --logo: 0;
}

[data-theme="ww2army"] {
  --primary-color: #211e1d;
  --secondary-color: #57463066;
  --bg-color: #161625;
  --bg-image: url('/img/ww2army.png');
  --font-family: oldtypewriter, monospace !important;
  --logo: 0;
}

[data-theme="ww2luftwaffe"] {
  --primary-color: #79633f;
  --secondary-color: #79633f75;
  --bg-color: #161625;
  --bg-image: url('/img/ww2luftwaffe.png');
  --font-family: oldtypewriter, monospace !important;
  --logo: 0;
}
[data-theme="ww2hand"] {
  --primary-color: #332a1c;
  --secondary-color: #79633f75;
  --bg-color: #161625;
  --bg-image: url('/img/ww2hand.png');
  --font-family: handwriting, monospace !important;
  --logo: 0;
  --opacity: 0.7;
  --font-size: 18px;
}
[data-theme="ww2dark"] {
  --primary-color: #eaeae0;
  --secondary-color: #b7b5b12f;
  --bg-color: #161625;
  --bg-image: url('/img/ww2dark.png');
  --font-family: chalk, monospace !important;
  --logo: 0;
  --opacity: 0.8;
  --font-size: 15px;
}

[data-theme="nam"] {
  --primary-color: #211e1d;
  --secondary-color: #6d6b6466;
  --bg-color: #161625;
  --bg-image: url('/img/nam.png');
  --bg-mask: url('/img/nam_mask.png');
  --font-family: oldtypewriter, monospace !important;
  --logo: 0;
  --margin-mask: 2rem;
}
[data-theme="namnoframe"] {
  --primary-color: #211e1d;
  --secondary-color: #6d6b6466;
  --bg-color: #161625;
  --bg-image: url('/img/namnoframe.png');
  --font-family: oldtypewriter, monospace !important;
  --logo: 0;
}
[data-theme="namhand"] {
  --primary-color: #020d82;
  --secondary-color: #38436c66;
  --bg-color: #161625;
  --bg-image: url('/img/namhand.png');
  --font-family: handwriting, monospace !important;
  --logo: 0;
  --opacity: 0.7;
  --font-size: 18px;
}

[data-theme="dark"] {
  --primary-color: #efd7bc;
  --secondary-color: #efd7bc46;
  --bg-color: #161625;
  --opacity: 0.5;
  --bg-image: url('/img/paper_dark.png');
  --font-family: oldtypewriter, monospace !important;
}

[data-theme="modern"] {
  --primary-color: #111;
  --secondary-color: #11111166;
  --bg-color: #fefefe;
  --bg-image: linear-gradient(-30deg, rgb(223,213,213) 0%, rgb(243,243,240) 100%);

  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

[data-theme="modern_bright"] {
  --primary-color: #0a0a0a;
  --secondary-color: #11111122;
  --bg-color: #fefefe;
  --bg-image: linear-gradient(-30deg, #fefefe 0%, #fefeff 100%);

  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

[data-theme="modern_dark"] {
  --primary-color: #b2b2b2;
  --secondary-color: #61dd8033;
  --bg-color: #111;
  --bg-image: linear-gradient(-45deg, rgb(10, 10, 10) 0%, rgb(22, 22, 24) 100%);
  /* font-family: */
  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

[data-theme="80s"] {
  --primary-color: #56f683;
  --secondary-color: #0eda6366;
  --bg-color: #111;
  --bg-image: linear-gradient(-45deg, rgb(23, 30, 24) 0%, rgb(23, 19, 2) 100%);
  --bg-image: url('/img/terminal.png');

  /* font-family:  */
  --font-family: handjet !important;
  --opacity: 0.9;
  /* --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

[data-theme="cyber"] {
  --primary-color: #61d6f3;
  --secondary-color: #00fde433;
  --bg-color: #111;
  --bg-image: linear-gradient(-45deg, rgb(10, 15, 55) 0%, rgb(25, 10, 57) 100%);
  --bg-image: url('/img/cyber.png');
  /* font-family: */
  /* --font-family: 'Times New Roman', Times, serif; */
  /* --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
  --font-family: acecombat !important;
  --opacity: 0.9;
}

[data-theme="ace"] {
  --primary-color: #acdfe8;
  --secondary-color: #02b2fe33;
  --bg-color: #111;
  --bg-image: url('/img/acecombat.png');
  /* font-family: */
  /* --font-family: 'Times New Roman', Times, serif; */
  --font-family: acecombat !important;
  --opacity: 0.9;
}


#briefing-content {
  overflow-y: scroll;
  height: 100%;
}

.kneeboard {
  font-family: var(--font-family) !important;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-size: var(--font-size);
}


.kneeboard p {
  font-size: var(--font-size);
  text-align: left;
}

#content #dwv-info {
  /* float: left; */
  /* min-width: calc(768px - 2rem); */
  text-align: left;
  position: relative;
  /* top: 0rem; */
  display: none;
  opacity: 0.5;
  padding: 0;
  top: 0;
  margin-bottom: -1rem !important;
}

.kneeboard input[type="checkbox"] {
  accent-color: #1abc9c;
}

.kneeboard #logo {
  position: relative;
  top: 1024px;
  /* left: calc(var(--width) - 200px); */
  width: 200px;
  /* background-color: #293949; */
  /* border-radius: 2rem 0 0 0; */
  /* padding: 1rem; */
  margin: 0;
  margin-top: -100px;

  margin-left: calc(var(--width) - 220px);
  /* margin-left: -1rem; */
  /* left: calc(768px - 200px); */
  opacity: var(--logo);
}

.kneeboard #content {
  margin: 0;
  margin-top: -1rem;
  padding: var(--spacing);
  opacity: var(--opacity);
  /* min-height: 1100px; */
  overflow-x: hidden;
}

.kneeboard #content h4 {
  margin-top: var(--spacing) !important;
  margin-bottom: var(--spacing) !important;
  /* height: calc(var(--font-size) + 2px); */
  white-space: nowrap;
  overflow: hidden;
}

.kneeboard #content h4.center {
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.kneeboard #content .kneeboard-section {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  clear: both;
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid;
  break-before: auto;
  break-after: auto;
  break-inside: avoid;
}

.kneeboard div.spacer { 
  padding-bottom: 5rem;
}

/* document.querySelector("#friendlies > ul:nth-child(4) > li:nth-child(2)") */
.kneeboard #content .center {
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin: 0;
  width: auto;
}


.kneeboard #capture {
  width: var(--width);
  height: 1024px;
  margin: 0;
  padding: 0;
  display: block;
  background: var(--bg-color);

  background: var(--bg-image);

  background-size: var(--width) 1024px;
  background-repeat: repeat;
  border: none;
  /* overflow-y: scroll; */
}

.kneeboard .render-pdf {
  height: auto !important;
  overflow-y: visible !important;
}



.kneeboard #mask {
  margin: var(--margin-mask);
  padding: 0;
  opacity: var(--opacity);
  background: var(--bg-mask);
  background-size: 100% 100%; 
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 100000;
  height: 1024px;
  width: var(--width);
  pointer-events: none;
}

.kneeboard #content .hidden {
  display: none;
}


.kneeboard table td:first-child {
  text-decoration: none;
}


/*
  Control buttons
*/
.kneeboard .controls {
  position: fixed !important;
  bottom: 0;
  left: 0;
  background: var(--controls-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 0rem 1rem 0 0rem;
  color: #fefefe;
  z-index: 10000;
  width: 10rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: small !important;
}

.kneeboard .controls label {
  display: inline-flex;
  color: #dedede;
}
.kneeboard .controls label:hover {
  color: #fefefe;
}

.kneeboard .controls button {
  background-color: var(--controls-color);
  background-color: #63e2b7;
  /* color: rgb(243,243,240); */
  border: none;
  border-radius: 5px;
  margin: 0.1rem;
  padding: 0.1rem;
  cursor: pointer;
  width: 95%;
}
.kneeboard .controls select {
  background-color: var(--controls-color);
  /* color: rgb(243,243,240); */
  border: none;
  border-radius: 5px;
  margin: 0.1rem;
  padding: 0.1rem;
  cursor: pointer;
  width: 95%;
}
