.controls .button-group {
  /* background-color:#4d4e55; */
  padding: 0.3rem;
  padding-right: 0;
  border: 1px solid #61bc9e;
  margin: 0.1rem;
  width: calc(90% - 0.6rem);
  border-radius: 0.5rem;
}

.controls #download-all-button {
  background-color: #f2c97d;
}
