
.kneeboard #waypoints.kneeboard-section {
  flex-basis: 80%;
  flex-grow: 2;
}


/*
  A stylesheet customizing Handsontable style
*/

.kneeboard #capture .handsontable {
  font-family: var(--font-family);
  font-size: calc(var(--font-size) - 2px);
  /* font-weight: 600; */
  color: var(--primary-color);
}


.kneeboard .handsontable {
  /* font-family: system-ui !important; */
  /* touch-action: manipulation; */
  font-weight: normal;
  clear: both;
  /* color: #373737; */
}



.kneeboard .handsontable table.htCore td .progressBar {
  background: #37bc6c;
  height: 10px;
}


.kneeboard .handsontable .htCore tr {
  background-color: transparent !important;
  color: var(--primary-color);

}
.kneeboard #waypoints-table.handsontable .htCore tr:last-child {
  background-color: transparent !important;
  /* color: var(--primary-color); */
  /* opacity: 0.7; */
  font-weight: bold;
}

.kneeboard .handsontable .htCore tr td{
  background-color: transparent !important;
  border-color: var(--secondary-color) !important;
  color: var(--primary-color);
  padding: 0px 2px;
  margin: 0;
  white-space: nowrap;
}

.kneeboard .handsontable .htCore th{
  font-weight: 600;
  background-color: transparent !important;
  border-color: var(--secondary-color) !important;
  color: var(--primary-color);
  padding: 0;
  margin: 0;
}

.kneeboard .handsontable .wtHider {
  width: 100% !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}



.kneeboard .handsontable table.htCore {
  padding: 0;;
}


.kneeboard .handsontable .collapsibleIndicator {
  text-align: center;
}

.kneeboard .handsontable .htRight .changeType {
  margin: 3px 1px 0 13px;
}
.kneeboard .handsontable .green {
  background: #37bc6c;
  font-weight: bold;
}

.kneeboard .handsontable .orange {
  background: #fcb515;
  font-weight: bold;
}


.kneeboard .handsontable .btn {
  padding: 20px;
  font: 1.4em sans-serif;
}
[data-color="green"] {
  background: #37bc6c;
}
[data-color="orange"] {
  background: #fcb515;
}
