#icon-drawer .image-holder {
  display: inline-block;
  max-height: 12rem;
  max-width: 30rem;
  overflow-y: scroll;
  text-align: left;
}

#icon-drawer h4 {
  margin: 0;
}

#icon-drawer .image-holder img {
  margin: 0px 5px;
  -webkit-user-drag: element;
  user-select: all;
  cursor: move;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .panel .image-holder img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: blue;
  } */

#map .dwe-dropicon {
  /* border: 1px solid red; */
  /* box-shadow: 2px 2px 2px #111; */
  width: 50px !important;
  height: 50px !important;
}

/* user image */
#map
  > div.leaflet-pane.leaflet-map-pane
  > div.leaflet-pane.leaflet-marker-pane
  > img.dropped-image {
  max-width: 15rem !important;
  max-height: 15rem !important;
}

#map
  > div.leaflet-pane.leaflet-map-pane
  > div.leaflet-pane.leaflet-marker-pane
  > img.dropped-svg {
  max-width: 5rem !important;
  min-width: 3rem !important;
  max-height: 5em !important;
}

#map
  > div.leaflet-pane.leaflet-map-pane
  > div.leaflet-pane.leaflet-marker-pane
  > img.dropped-web-image {
  max-width: 20rem !important;
  min-width: 1rem !important;
  max-height: 20rem !important;
}
