#map .leaflet-pane.leaflet-icons-pane {
  z-index: 200;
}

#icon-drawer .image-holder {
  display: inline-block;
  max-height: 12rem;
  max-width: 30rem;
  overflow-y: scroll;
  text-align: left;
}

#icon-drawer h4 {
  margin: 0;
}

#icon-drawer .image-holder img {
  margin: 0px 5px;
  -webkit-user-drag: element;
  user-select: all;
  cursor: move;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .panel .image-holder img:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: blue;
  } */

#map .dwe-dropicon {
  /* border: 1px solid red; */
  /* box-shadow: 2px 2px 2px #111; */
  width: 50px !important;
  height: 50px !important;
}

/* user image */
#map > div.leaflet-pane img.dropped-image {
  pointer-events: visible !important;
  /* max-width: 15rem !important;
  max-height: 15rem !important; */
  /* margin-left: -7vb !important;
  margin-top: -7.5hb !important; */
}
#map > div.leaflet-pane img.dropped-image-full {
  /* z-index: 301 !important; */
  /* max-width: 70vw !important;
  max-height: 70vh !important; */
}

#map > div.leaflet-pane .dwe-image-overlay-polygon {
  pointer-events: all;
}

#map > div.leaflet-pane img.dropped-svg {
  max-width: 5rem !important;
  min-width: 3rem !important;
  max-height: 5em !important;
}

#map > div.leaflet-pane img.dropped-svg-full {
}

#map > div.leaflet-pane img.dropped-web-image {
  max-width: 20rem !important;
  min-width: 1rem !important;
  max-height: 20rem !important;
}
